<div class="bg w-100 d-flex  align-items-center justify-content-center">
    <div class="input-form col-11 col-md-6 col-lg-2">
        <div class="input-group col-10">
            <div class="title w-100">Sign In</div>
            <div class="sub-title">Sign in your Account.</div>
            <div class="hint-text">Not have account? Try <a routerLink="/register">sign up</a>.</div>
            <div class="form-floating w-100">
                <input type="email" [(ngModel)]="email" class="form-control" id="floatingInput" placeholder="name@example.com">
                <label for="floatingInput">Email address</label>
                <div class="under-line"></div>
            </div>
            <div class="form-floating w-100">
                <input type="password" [(ngModel)]="password" (keyup.enter)="login()" class="form-control" id="floatingInput" placeholder="password">
                <label for="floatingInput">Password</label>
                <div class="under-line"></div>
            </div>
            <div class="d-flex justify-content-end w-100">
                <a routerLink="/forgetPassword" class="hint-supertext">Forget passwrod?</a>
            </div>
            <button type="button" class="btn btn-primary w-100" (click)="login()">Login</button>
        </div>
    </div>
</div>